.row {
    padding-left: 20px;
}
.home_page{
    font-size: 24px;
}
.link_homepage{
    margin-top: 12px
}

.App {
    color: #59585e
}
.container {
    min-width:370px;
    min-height: 1800px;
    color: #59585e;
}.switch{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    font-size: 12px;
    margin-bottom: 30px;
}
.btn_active.btn_switch.ru, .btn_active.btn_switch.en{
    display: inline;
    background-color:#be865c;
    color:#f5d8ad;
}
.btn_switch.en, .btn_switch.ru{
    padding-bottom: 3px;
    width: 40px;
    outline: none;
    border: none;
    background-color: #b7caca;
}
.en{
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ru{
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form{
    font-size: 14px;
}
.form_input{
    max-width: 250px;
}.form.alert_message{
    color: red;
    font-size: 1.25rem;
}
.note.btn_all_change{
    margin-bottom: 15px;
    margin-left: -10px;
}

.note.btn_delete, .note.btn_show_detail, .note.btn_change{
    outline: none;
    padding: .25rem .5rem;
    font-size: .875rem;
    margin: 5px 5px 5px 5px;
}
.separator{
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: -20px;
    padding-left: 0;
    padding-top: 0;
}
.note {
    font-size: 18px;
}

.note {
    margin: 0;
    padding: 0;
}
.error {
    font-size: 16px;
    color: red;
}
.input_inline {
    display: inline-flex;
    max-width: 65%;
}
.detail{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -20px;
}

.detail.btn_delete, .detail.btn_change{
    outline: none;
    padding: .25rem .5rem;
    font-size: .875rem;
    margin: 5px 5px 5px 5px;
}
