.row {
    padding-left: 20px;
}
.home_page{
    font-size: 24px;
}
.link_homepage{
    margin-top: 12px
}

.App {
    color: #59585e
}
.container {
    min-width:370px;
    min-height: 1800px;
    color: #59585e;
}